
body {
	background: black;
}

a {
	color: darkred;
}

div.header > span {
	color: white;
}

.ok { 
	color: green; 
}

.ko { 
	color: red; 
}

.box {
	width: 20em;
	height: 21em;
	background: orange;
	margin: 1em;
	padding: 0.5em;
	text-align: center;
	border-radius: 3em;
	box-shadow: 0.2em 0.2em darkred;
}

.box > a > p {
	height: 2em;
	margin: 0px;
	font-size: 150%;
}

.box > a > img {
	height: 19em;
	width: 19em;
}

.small {
	width: 5em;
	height: 6em;
	background: orange;
	margin: 1em;
	padding: 0.5em;
	text-align: center;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em darkred;
}

.small > a > p {
	height: 1em;
	margin: 0px;
}

.small > a > img {
	height: 4.5em;
	width: 4.5em;
}

.link {
	width: 12em;
	background: orange;
	margin: 1em;
	text-align: center;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em darkred;
}

.line {
	border-bottom: 1px solid white;
	width: 10em;
}

.container > p {
	color: white;
	border-top: 1px solid white;
}

.runner {
	max-width: 40em;
	max-height: 40em;
	background: orange;
	color: darkred;
	margin: 1em;
	padding: 0.5em;
	text-align: center;
	border-radius: 1em;
	box-shadow: 0.2em 0.2em darkred;
	overflow: hidden;
}

.runner > p {
	color: darkred;
	margin: 0px;
	font-size: 150%;
}
