
.ok { 
	margin-bottom: -0.2em;
	display: inline-block;
	border-radius: 0.5em;
	background-color: green;
	width: 1em;
	height: 1em;
}

.ok_color {
	color: green;
}

.avg {
	margin-bottom: -0.2em;
	display: inline-block;
	border-radius: 0.5em;
	background-color: yellow;
	width: 1em;
	height: 1em;
}

.ko { 
	margin-bottom: -0.2em;
	display: inline-block;
	border-radius: 0.5em;
	background-color: red;
	width: 1em;
	height: 1em;
}

.ko_color {
	color: red;
}

div.monitor_box {
	padding: 0.2em;
	background: lightyellow;
	color: black;
	border-radius: 0.5em;
}

.monitor_title {
	font-size: small;
	color: darkred;
}

.monitor_extra {
        font-size: smaller;
}

div.monitor_box > table {
	width: 100%;
}

